# Generated C++ files
src/main/cpp/SAMPNativeFunctions.cpp
src/main/headers/SAMPNativeFunctions.h
src/main/cpp/SAMPCallbacks.cpp
src/main/cpp/SAMPCallbacks.def
src/main/cpp/SAMPCallbacksMethodCache.cpp
src/main/headers/SAMPCallbacksMethodCache.hpp
src/main/headers/AmxNativeFunctionInvoker.h
kamp-pluginDll.vcxproj
kamp-pluginDll.vcxproj.filters
.vs